.App
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-family: $title-font
    text-align: center
    width: 100vw
    margin: 0 auto
    color: #E0E1DD

    .button-container
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        width: 100vw
        height: 200px

        button
            height: 44px
            width: 100px
            background-color: yellow