.next-Friday
    text-transform: capitalize
    color: $yellow
    color: $pink

.header-container
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    position: fixed
    display: flex
    justify-content: center
    align-items: center
    top: 0
    height: 7vmax
    color: white
    padding-bottom: 0px
    width: 100vw
    background-color: $header-background-color
    color: $platinum
    font-family: $header-font
    font-size: 2.5vmax

