// COLOR THEME: "MELANCHOLY BLUES" /
$eerie-black: #0D1B2A
$yankees-blue: #1B263B
$off-white: #E0E1DD
$deep-space-sparkle: #415A77
$shadow-blue: #778DA9

// COLOR THEME: "INTENSE CITRUS" //
$dark-green: #043007
$deep-green: #005C13
$platinum: #E2E2EB
$yellow: #FFD500
$harvest-gold: #E59800

// COLOR THEME: TRASH TOSSERS
$black: #2d2a31
$dark-grey: #776a73
$light-grey: #a0979f
$dark-blue: #0061ef
$light-blue: #00b8f8
$red: #c50000
$pink: #ff007a
$white: #FFFFFF