
$default-font-size: 1.6rem
$large-font-size: 3rem
$medium-font-size: 2.5rem

@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap')

$header-font: 'Muli', sans-serif
$title-font: 'Muli', sans-serif
$body-font: 'Playfair Display', serif